documentatie/Order-documentation-XML_DX2/Order-documentation-XML_DX2/XSD order/docxchange-order-dx2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2013 Designer Edition 11.1.0.4725 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Order">
        <xs:annotation>
            <xs:documentation>Aceasta e o documentatie importanta</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UBLExtension"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded" />
                <xs:element name="UBLVersionID"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Identifies the earliest version of the UBL schema for this document type that defines all of the elements that might be encountered in the current instance.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CustomizationID"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Identifies a user-defined customization of UBL for a specific use</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ProfileID"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Identifies a user-defined profile of the customization of UBL being used.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ID"
                            type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="EN">Identifier for the refernced document: the order reference number</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SalesOrderID"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>An identifier for the Order, assigned by the seller.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CopyIndicator"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Indicates whether this document is a copy (true) or not (false).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UUID"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A universally unique identifier for an instance of this document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IssueDate"
                            type="xs:date">
                    <xs:annotation>
                        <xs:documentation>The date, assigned by the sender, on which this document was issued.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IssueTime"
                            type="xs:time"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The time, assigned by the sender, at which this document was issued.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OrderTypeCode"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A code signifying the type of Order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Note"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CustomerReference"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A supplementary reference for the Order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AccountingCostCode"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The buyer's accounting code, applied to the Order as a whole.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AccountingCost"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The buyer's accounting cost centre, applied to the Order as a whole, expressed as text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LineCountNumeric"
                            type="xs:int"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The number of Order Lines in the document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RequestedDeliveryPeriod"
                            type="RequestDeliveryPeriodType"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>The period for which the Delivery is requested.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="QuotationDocumentReference"
                            type="DocumentReferenceType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A reference to a Quotation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OrderDocumentReference"
                            type="DocumentReferenceType"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A reference to another Order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OriginatorDocumentReference"
                            type="DocumentReferenceType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A reference to an originator document associated with this document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CatalogueReference"
                            type="xs:string"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A reference to the Catalogue on which this Order is based.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AdditionalDocumentReference"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A reference to an additional document associated with this document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Contract"
                            type="DocumentReferenceType"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A contracts associated with this Order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ProjectReference"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A project with which this Order is associated.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BuyerCustomerParty"
                            type="PartyType">
                    <xs:annotation>
                        <xs:documentation>The buyer</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SellerSupplierParty"
                            type="PartyType">
                    <xs:annotation>
                        <xs:documentation>The seller.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OriginatorCustomerParty"
                            type="PartyType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The originator</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FreightForwarderParty"
                            type="PartyType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A freight forwarder or carrier</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AccountingCustomerParty"
                            type="PartyType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The accounting customer party</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DeliveryParty"
                            type="PartyType"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A delivery associated with this document</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Delivery"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A delivery associated with this document.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Quantity"
                                        type="QuantityType"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The quantity of items, child consignments, shipments in this delivery.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AnticipatedMonetaryTotal"
                            type="MonetaryTotalType"
                            minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The total amount for the Order anticipated by the buyer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OrderLine"
                            type="OrderLineType"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A line associated with a line in the Catalogue and specifying a kind of item being ordered.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="RequestDeliveryPeriodType">
        <xs:sequence>
            <xs:element name="StartDate"
                        type="xs:date"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date on which this period begins.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartTime"
                        type="xs:time"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The time on which this period begins.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate"
                        type="xs:date"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date on which this period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndTime"
                        type="xs:time"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The time on which this period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A description of this period, expressed as a text</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentReferenceType">
        <xs:sequence>
            <xs:element name="ID"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An identifier for the referenced document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate"
                        type="xs:date"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The time, assigned by the sender of the referenced document, at which the document was issued.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyType">
        <xs:sequence>
            <xs:element name="CustomerAssignedAccountID"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An identifier for this party assigned by the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndpointID"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Code EDI : GLN</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{13}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PartyIdentification"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An identifier for this party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PartyName"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A name for this party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalAddress"
                        type="PostalAddressType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The party's postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddressType">
        <xs:sequence>
            <xs:element name="StreetName"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The name of the street, road, avenue, way, etc. to which the number of the building is attached.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalStreetName"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An additional street name used to further clarify the address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CityName"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The name of a city, town, or village.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalZone"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The postal identifier for this address according to the relevant national postal service, such as a ZIP code or Post Code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressLine"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An unstructured address line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Country"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The country in which this address is situated.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MonetaryTotalType">
        <xs:sequence>
            <xs:element name="TaxExclusiveAmount"
                        type="PriceType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The monetary amount exclusive of taxes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaxInclusiveAmount"
                        type="PriceType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The monetary amount including taxes; the sum of payable amount and prepaid amount.	</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaxAmount"
                        type="PriceType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The total tax amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderLineType">
        <xs:sequence>
            <xs:element name="ID"
                        type="xs:string">
                <xs:annotation>
                    <xs:documentation>An identifier for this line item, assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SalesOrderID"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An identifier for this line item, assigned by the seller.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Note"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Free-form text conveying information that is not contained explicitly in other structures.	</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Price"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The price of the item of trade associated with this line item.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="PriceType" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Quantity"
                        type="QuantityType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The quantity of items associated with this line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReturnableMaterialIndicator"
                        type="xs:boolean"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The quantity of items associated with this line item.
false = consumer
true = returnable container</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PalletSpaceMeasurementDimension"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The pallet space measuremetn dimension associated to this transport handling unit.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Measure"
                                    type="QuantityType"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The measurement value.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MaximumMeasure"
                                    type="QuantityType"
                                    minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>THe maximum value in a range of measurement of this dimension.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LineExtensionAmount"
                        type="PriceType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The total amount for this line item, including allowance charges but net of taxes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalTaxAmout"
                        type="PriceType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The total tax amount for this line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaxTotal"
                        type="PriceType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A total amount of taxes of a particular kind applicable to this item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AllowanceCharge"
                        type="AllowanceChargeType"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An allowance or charge associated with this line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Item"
                        type="ItemType">
                <xs:annotation>
                    <xs:documentation>The item of trade associated with this line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Delivery"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A delivery associated with this line item.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestedDeliveryPeriod"
                                    type="RequestDeliveryPeriodType">
                            <xs:annotation>
                                <xs:documentation>The period requested for delivery.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AllowanceChargeType">
        <xs:sequence>
            <xs:element name="ID"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An identifier for this allowance or charge.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ChargeIndicator"
                        type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>An indicator that this AllowanceCharge describes a charge (true) or a discount (false).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AllowanceChargeReasonCode"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A mutually agreed code signifying the reason for this allowance or charge.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AllowanceChargeReason"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The reason for this allowance or charge.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MultiplierFactorNumeric"
                        type="xs:decimal"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A number by which the base amount is multiplied to calculate the actual amount of this allowance or charge.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SequenceNumeric"
                        type="xs:decimal"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A number indicating the order of this allowance or charge in the sequence of calculations applied when there are multiple allowances or charges.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The monetary amount of this allowance or charge to be applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BaseAmount"
                        type="xs:decimal"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The monetary amount to which the multiplier factor is applied in calculating the amount of this allowance or charge.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:sequence>
            <xs:element name="Description"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Text describing this item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PackQuantity"
                        type="xs:decimal"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The unit packaging quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PackSizeNumeric"
                        type="xs:decimal"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of items in a pack of this item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CatalogueIndicator"
                        type="xs:boolean"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An indicator that this item was ordered from a catalogue (true) or not (false).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A short name optionally given to this item, such as a name from a catalogue, as distinct from a description.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyersItemIdentification"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifying information for this item, assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SellersItemIdentification"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifying information for this item, assigned by the seller.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManufacturersItemIdentification"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Identifying information for this item, assigned by the manufacturer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StandardItemIdentification"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifying information for this item, assigned according to a standard system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CatalogueItemIdentification"
                        type="xs:string"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifying information for this item, assigned according to a cataloguing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalItemIdentification"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An additional identifier for this item.	</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dimension"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One of the measurable dimensions (length, mass, weight, or volume) of this item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceType">
        <xs:sequence>
            <xs:element name="Amount"
                        type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="CurrencyID"
                      type="xs:string"
                      default="RON">
            <xs:annotation>
                <xs:documentation>Amount currency</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="QuantityType">
        <xs:sequence>
            <xs:element name="Amount"
                        type="xs:decimal" />
        </xs:sequence>
        <xs:attribute name="UnitCode"
                      type="xs:string"
                      default="RON" />
    </xs:complexType>
</xs:schema>
